# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules Temporarily I need to fix node_modules/web3-eth-abi/src/index.js, see https://github.com/ethereum/web3.js/issues/1916

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
