.App {
  text-align: center;
  margin-top: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.container {
  justify-content: center;
}

.App-header {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: #4a4a4a;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.evidence-table {
  background-color: white;
}

.clickable {
  cursor: pointer;
}

.primary {
  background-color: #009aff;
  color: white;
}

.primary-inverted {
  color: #009aff;
}

.secondary {
  background-color: #4004a3;
  color: white;
}

.secondary-inverted {
  color: #4004a3;
}

hr {
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 2px;
}

.navbar {
  margin-bottom: 30px;
  background-color: #1e075f;
}

.navbar-icon {
  color: white;
}

#navbarNav > div.mx-2.dropdown.show > div {
  min-width: 300px;
}

.notification-control {
  min-width: 300px;
}

.email-notification-control {
  min-width: 300px;
}

#dropdownMenu2 {
  background-color: #1e075f;
  border-color: #1e075f;
}

.fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 30%;
  padding: 0.2em;
  border-radius: 9px;
  color: white;
  background: rgba(255, 0, 0, 0.85);
  text-align: center;
  font-weight: bold;
}

.badge-notify {
  position: relative;
  top: -20px;
  left: -35px;
  border-radius: 50%;
}
