.App {
  text-align: center;
  margin: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.container {
  justify-content: center;
}

.App-header {
  background-color: white;
	font-family: Roboto;
  font-size: calc(10px + 2vmin);
  color: #4a4a4a;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.evidence-table {
  background-color: white;
}

.clickable {
    cursor: pointer;
}

.primary {
	background-color: #009AFF;
	color: white;
}

.primary-inverted {
	color: #009AFF;
}

.secondary {
	background-color: #4004A3;
	color: white;
}

hr
{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 2px;
}

.navbar{
  margin-bottom: 30px
}

.navbar-icon{
  color: white;
}
